@model IEnumerable<FarmHouseDeliveryApp.ViewModels.DepartmentViewModel>

<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav nav_1">
        @foreach (var item in Model)
            {
            @if (item.Categories.Count <= 0)
            { 
                <li>
                    <a href="/d/@Html.DisplayFor(modelItem => item.Name)/" title="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Description)</a>
                </li>
            }
            else
            {
                <li class="dropdown mega-dropdown active">
                    <a href="/d/@Html.DisplayFor(modelItem => item.Url)/" class="dropdown-toggle" data-toggle="dropdown" title="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Description)<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                @foreach (var cat in item.Categories)
                                {
                                  <li><a href="/c/@cat.Url">@cat.Name</a></li> 
                                }
                            </ul>
                        </div>
                    </div>
                </li> 
            }

        }
    </ul>
</div> 